{{ if .Values.superUser.create }}
apiVersion: batch/v1
kind: Job
metadata:
  name: cvat-init-create-users
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  ttlSecondsAfterFinished: 10
  template:
    metadata:
      labels:
        app: cvat-init-create-users # has to match .spec.selector.matchLabels
    spec:
      restartPolicy: OnFailure
{{ if .Values.workloads }}
{{ toYaml .Values.workloads | indent 6 }}
{{ end}}
      containers:
      - name: cvat
        image: openvino/cvat_server:v{{ .Chart.AppVersion }}
        env:
{{ template "cvat-helm.postgres-env" . }}
        - name: "CVAT_REDIS_HOST"
          value: 'cvat-redis'
        - name: GENERATED_USERNAME
          valueFrom:
            secretKeyRef:
              name: cvat-superuser
              key: username
        - name: GENERATED_PASSWORD
          valueFrom:
            secretKeyRef:
              name: cvat-superuser
              key: password
        command: ["/bin/sh", "-c"]
        args:
            - |
              cat <<EOF | python manage.py shell
              from django.contrib.auth import get_user_model
              import os
              User = get_user_model()  # get the currently active user model,
              User.objects.filter(username='{{ .Values.superUser.username }}').exists() or \
                User.objects.create_superuser('{{ .Values.superUser.username }}', '{{ .Values.superUser.email }}', '{{ .Values.superUser.initialPassword }}')
              ## make sure that the generated superuser exists
              User.objects.filter(username=os.getenv('GENERATED_USERNAME')).exists() or \
                User.objects.create_superuser(os.getenv('GENERATED_USERNAME'), 'autogenerated@cvat-helm.org', os.getenv('GENERATED_PASSWORD'))              
              ## make sure that the generated superuser is in sync with the secret
              usr = User.objects.get(username=os.getenv('GENERATED_USERNAME'))
              usr.set_password(os.getenv('GENERATED_PASSWORD'))
              usr.save()
              EOF
{{ end }}
